[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.5.1"
flask = "*"
pandas = "*"
numpy = "*"
mlflow = "*"
google-auth = "*"
google-cloud-storage = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
